#services {
    /* height: 600px; */
    margin-top: 10em;
  }

  .offers > .offer-cards{
    grid-column: 1/13;
    margin: 0 auto;
  }
  .offer-tag {
    text-align: center;
  }
  .offer img {
    width: 100%;
  }
  .offer .o-info {
    text-align: center;
  }
  
  .offer .o-info h3 {
    font-weight: 400;
    opacity: 0.9;
    font-size: 1.2rem;
  }

  @media (min-width: 768px) {

  }

  @media screen and (min-width: 1200px) {
    .offers{
      gap: 3em;
    }
    .offers > .offer-cards{
      grid-column: span 4;
      margin: 0 auto;
    }

    .offer img {
      width: 100%;
    }
  } 
  